alias dw="docker-compose exec web"
alias dc="docker-compose"
alias dce="docker-compose exec"
alias g="git"
alias gcd="git checkout develop"
alias gcm="git checkout master"
alias gdc="git diff --cached"
alias gdcs="git diff --cached --shortstat"
alias gds="git diff --shortstat"
alias hosts='sudo vim /etc/hosts'
alias p="cd ~/projects"
alias t="tmux -u -2"
alias e="emacsclient"
alias ssh="sshrc"
alias ta="tig --all"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

alias fixup="git commit --fixup=\`rev\`"
