alias chowww="sudo chgrp www-data"
alias clip='xsel -ib'
alias g="git"
alias gcd="git checkout develop"
alias gcm="git checkout master"
alias gdc="git diff --cached"
alias gdcs="git diff --cached --shortstat"
alias gds="git diff --shortstat"
alias hosts='sudo vim /etc/hosts'
alias p="cd ~/projects"
alias server='php -S localhost:8000'
alias sites="cd /etc/apache2/sites-available"
alias sitese="cd /etc/apache2/sites-enabled"
alias t="tmux -u -2"
alias ts="t choose-session"
alias www="cd /var/www"
alias e="emacsclient"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Some convenience
alias aptin="sudo apt-get install"
alias aptup="sudo apt-get update && sudo apt-get upgrade"
alias alog="tail /var/log/apache2/error.log"
alias alogl="less /var/log/apache2/error.log"

function sel() {
  fzf | cut -f1 -d' '
}

function sel3() {
  fzf | cut -f3 -d' '
}

function rev() {
  git log --oneline | sel
}

