# find shorthand
function f() {
    find . -name "$1"
}

# copies template.conf to generate new apache-vhost
function addvhost() {
    $t = "/etc/apache2/sites-available/template.conf"
    if [ -f $t ]; then
        if [ -z "$1" ]; then
            echo "Please provide an abbreviation for the vhost"
            return 1
        else
            if [ -f /etc/apache2/sites-available/$1.conf ]; then
                echo "$1.conf already exists! did not overwrite!"
            else
                vhost="/etc/apache2/sites-available/$1.conf"
                sudo cp /etc/apache2/sites-available/template.conf $vhost
                sed "s/###ABBREV###/$1/" $vhost | sudo tee $vhost
                return 0
            fi
        fi
    else
        echo "could not find $t"
        return 1
    fi
}

function addtohosts(){
    hostsfile=/etc/hosts
    if grep -q "127.0.0.1\s$1.localhost" $hostsfile; then
        echo "$1 already in $hostsfile"
    else
        echo -n "adding to /etc/hosts: "
        echo "127.0.0.1 $1.localhost" | sudo tee -a $hostsfile
    fi
}

function initvhost(){
    addvhost $1
    if [ $? -eq 0 ]; then
        sudo a2ensite $1
        addtohosts $1
        sudo service apache2 reload
    else
        echo "Could not init vhost $1"
    fi
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh
	else
		local arg=-sh
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@"
	else
		du $arg .[^.]* *
	fi
}

# Use Git’s colored diff when available
hash git &>/dev/null
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@"
	}
fi

# Start an HTTP server from a directory, optionally specifying the port
function server() {
	local port="${1:-8000}"
	sleep 1 && open "http://localhost:${port}/" &
	# Set the default Content-Type to `text/plain` instead of `application/octet-stream`
	# And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
	python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port"
}

# Start a PHP server from a directory, optionally specifying the port
# (Requires PHP 5.4.0+.)
function phpserver() {
	local port="${1:-4000}"
	local ip=$(ipconfig getifaddr en1)
	sleep 1 && open "http://${ip}:${port}/" &
	php -S "${ip}:${port}"
}

# Compare original and gzipped file size
function gz() {
	local origsize=$(wc -c < "$1")
	local gzipsize=$(gzip -c "$1" | wc -c)
	local ratio=$(echo "$gzipsize * 100/ $origsize" | bc -l)
	printf "orig: %d bytes\n" "$origsize"
	printf "gzip: %d bytes (%2.2f%%)\n" "$gzipsize" "$ratio"
}
