[alias]
  a = add -u
  aa = add --all :/
  ap = add -u -p
  b = browse
  c = commit -v
  df = diff --color --color-words --abbrev
  h = !git head
  head = !git r -1
  hp = "!. ~/.githelpers && show_git_head"
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
  pullff = pull --ff-only
  r = !GIT_NO_PAGER=1 git l -30
  ra = !git r --all
  s = status -s -b

[color]
  ui = always

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
	pager = less -x1,5
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = vim -f
  autocrlf = input
  safecrlf = true
  excludesfile = ~/.global_gitignore
  ignorecase = false

[github]
  user = pierrebeitz

[merge]
  log = true

[push]
  default = simple

[user]
  name = "Pierre Beitz"
  email = "pb@naymspace.de"

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[url "git@github.com:pierrebeitz/"]
  insteadOf = "git://github.com/pierrebeitz/"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
